* {
    font-family: Arial;
    font-size: 12px;
}
div{
    box-sizing: border-box;
}
#app-container{
    max-width:1024px;
    margin: 0 auto;
}
#categories{
    width: 30%;
    float: left;
}
.category-item{
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
}
.category-item:hover{
  font-weight: bold;
}
#products{
    width: 66%;
    float: right;
}
#products .product-item{
    width: 25%;
    float: left;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
#products .product-item:nth-of-type(4n+1) {
    clear: both;
}
#products .product-item .product-image img
{
 max-width: 100%;
}
#products .product-item .product-price{
    font-size: 120%;
    margin-top: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
#product-modal{
    padding: 20px;
    max-width: 800px;
    min-width: 450px;
    min-height: 300px;
    max-height: 85%;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    border-radius: 5px;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,  -50%);
    transform: translate(-50%,  -50%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.loader {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,  -50%);
    transform: translate(-50%,  -50%);
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media screen and (max-width: 780px) {

    #products .product-item:nth-of-type(4n+1) {
        clear: none;
    }
    #products .product-item:nth-of-type(3n+1) {
        clear: both;
    }
    #products .product-item{
        width: 33%;
    }
}
@media screen and (max-width: 680px) {
    #products .product-item:nth-of-type(3n+1) {
        clear: none;
    }
    #products .product-item:nth-of-type(2n+1) {
        clear: both;
    }
    #products .product-item{
        width: 50%;
    }
}
@media screen and (max-width: 480px) {
    #products .product-item:nth-of-type(2n+1) {
        clear: none;
    }
    #categories,
    #products,
    #products .product-item{
        width: 100%;
    }
}
